<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="description" content="Pantera&#39;s Box : why am I wearing the watermelon on my feet?">

    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/stylesheet.css">
    <script type="text/javascript">
    <!--
    function mmquote() {
      var mmquote = new Array(16);
      mmquote[0] = "Learn to hide your strikes from your opponent, and you'll more easily strike his hide.";
      mmquote[1] = "When you can balance a tack hammer on your head, you will head off your foes with a balanced attack.";
      mmquote[2] = "He who questions training only trains himself at asking questions.";
      mmquote[3] = "When you doubt your powers, you give power to your doubts.";
      mmquote[4] = "To learn my teachings, I must first teach you to learn.";
      mmquote[5] = "When you care for what is outside, what is inside cares for you.";
      mmquote[6] = "Sometimes, the true hero is the one with the courage to run away.";
      mmquote[7] = "I don't need a compass to know which way the wind shines.";
      mmquote[8] = "Tonight the lone wolf rides alone.";
      mmquote[9] = "Please don't correct me, it sickens me.";
      mmquote[10] = "See now, this is why mad scientists are generally less desirable than your common or garden variety scientist.";
      mmquote[11] = "We've got a blind date with destiny, and it looks like she's ordered the lobster.";
      mmquote[12] = "We struck down evil with the mighty sword of teamwork and the hammer of not bickering.";
      mmquote[13] = "Exactly how many toggle flips in toto are involved in this procedure?";
      mmquote[14] = "Dude, can we bring the brewskis?";
      mmquote[15] = "I don't live here. I'm just here for the ladies.";
      mmquote[16] = "Maybe you should put some shorts on or something if you want to keep fighting evil today.";
      var i = Math.floor(16*Math.random());
      document.getElementById("project_tagline").innerHTML = mmquote[i];
    }
    //-->
    </script>

    <title>Pantera&#39;s Box</title>
  </head>

  <body onLoad="mmquote();">

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/bobalu113/panterasbox">View on GitHub</a>

          <h1 id="project_title">Pantera&#39;s Box</h1>
          <h2 id="project_tagline"></h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/bobalu113/panterasbox/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/bobalu113/panterasbox/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      {{content}}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Pantera&#39;s Box maintained by <a href="https://plus.google.com/+BobbySchaetzle?rel=author">Bobby Schaetzle</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-52997546-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
